@@ -0,0 +1,236 @@
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn_yf {
  from {
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  to {
  	opacity: 1;
  	filter: alpha(opacity=100);
  	-webkit-transform: scale3d(1.3, 1.3,1.3);
    transform: scale3d(1.3, 1.3,1.3);
  }
}

@keyframes zoomIn_yf {
  from {
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  to {
  	opacity: 1;
  	filter: alpha(opacity=100);
  	-webkit-transform: scale3d(1.3, 1.3,1.3);
    transform: scale3d(1.3, 1.3,1.3);
  }
}

.zoomIn_yf {
  -webkit-animation-name: zoomIn_yf;
  animation-name: zoomIn_yf;
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
  transform-origin: center 75px;
}


@-webkit-keyframes slideInUp_yf {
  from {
  	opacity: 0.3;
  	filter: alpha(opacity=30);
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    visibility: visible;
  }

  to {
  	opacity: 1;
  	filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp_yf {
  from {
  	opacity: 0.3;
  	filter: alpha(opacity=30);
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    visibility: visible;
  }

  to {
  	opacity: 1;
  	filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp_yf {
  -webkit-animation-name: slideInUp_yf;
  animation-name: slideInUp_yf;
}
@-webkit-keyframes slideInDown_yf {
	from {
  	opacity: 1;
  	filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
  	opacity: 0.3;
  	filter: alpha(opacity=30);
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    visibility: visible;
  }

  
}

@keyframes slideInDown_yf {
  from {
  	opacity: 1;
  	filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
  	opacity: 0.3;
  	filter: alpha(opacity=30);
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
    visibility: visible;
  }
}

.slideInDown_yf {
  -webkit-animation-name: slideInDown_yf;
  animation-name: slideInDown_yf;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
   -webkit-animation-name: slideInDown; 
   animation-name: slideInDown; 
}
.slideInUp {
  -webkit-animation-name: slideInUp;
   animation-name: slideInUp; 
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}